@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap");

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    align-items: center;
    min-height:100vh;
    background: url('home_bg2.png') no-repeat;
    background-size: cover;
    background-position: center;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  
    margin-left: 70px;       
    color: #285430;
}
.home h4 {
    font-size: clamp(12px, 2vw, 18px);
    color: #285430;
    margin-bottom: 0;
    line-height: 1;
}

.home h1 {
    font-size: clamp(32px, 10vw, 100px);
    color: #285430;
    margin-bottom: 0;
    line-height: 1;
}

.title {
    font-weight: 800;
    color: #285430;
    letter-spacing: 2px;
    line-height: 1;
    font-size: clamp(32px, 10vw, 100px);
    margin-top: 2px;
    margin-bottom: 10px; /* beri jarak sedikit sebelum tombol */
}

.START {
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-start {
    display: inline-flex;            /* fleksibel dan inline */
    justify-content: center;         /* teks rata tengah horizontal */
    align-items: center;           /* teks rata tengah vertikal */
    width: 90px;
    height: 40px;
    margin: 2px;                     /* jarak 2px dari holding */
    background: transparent;
    border: 2px solid #609966;
    border-radius: 40px;
    text-decoration: none;
    color: #609966;
    font-weight: 600;
    font-size: clamp(14px, 2vw, 18px);
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    text-align: center;   
}

.btn-start:hover {
    background: #609966;
    color: #fff;
    transform: scale(1.08);
    box-shadow: 0 0 15px #93DA97;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 20px 9%;
    background: url('body_bg.png');
    color: #2f4f39;
    text-align: center;
}
.menu .heading-m {
    font-size: 40px;
    margin-bottom: 10px;
}

.menu .wrapper-menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px; 
    width: 100%;
    justify-items: center;
}

.wrapper-menu .box {
    padding: 100px 10px;
    background: #E8FFD7;
    border-radius: 10px;
    width: 100%;
    max-width: 250px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transition: .5s;
}

.wrapper-menu .box:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px, rgba(0, 0, 0, .2);
}

.box h2 {
    font-size: 20px;
}

.box p {
    font-size: 12px;
    margin: 10px 0 18px;
}

.box .btn-menu {
    display: inline-block;
    padding: 4px 10px;
    background: #2f4f39;
    border: 2px solid #2f4f39;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    transition: .5s;
}

.box .btn-menu:hover {
    background: transparent;
    color: #2f4f39;
}

.btn-backmcontainer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.btn-backm {
    position: relative;
    top: 30px;
    width: 200px;
    height: 200px;
    background: transparent;
    border: 2px solid #609966;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    color: #609966;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
   
}

.btn-backm:hover {
    background: #609966;
    color: #fff;
    transform: scale(1.08);
    box-shadow: 0 0 15px #93DA97;
}

.topics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 20px 9%;
    background: url('body_bg.png');
    color: #2f4f39;
    text-align: center;
}

.topics .heading-tp {
    font-size: 40px;
    margin-bottom: 10px;
}

.topics .wrapper-tp {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px; 
    width: 100%;
    justify-items: center;
}

.wrapper-tp .box {
    padding: 20px 20px;
    background: #E8FFD7;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transition: .5s;
}

.wrapper-tp .box:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px, rgba(0, 0, 0, .2);
}

.box h2 {
    font-size: 20px;
}

.box p {
    font-size: 12px;
    margin: 10px 0 18px;
}

.box .btn-tp {
    display: inline-block;
    padding: 4px 10px;
    background: #2f4f39;
    border: 2px solid #2f4f39;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    transition: .5s;
}

.box .btn-tp:hover {
    background: transparent;
    color: #2f4f39;
}

.btn-backtp {
    position: relative;
    top: 30px;
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid #609966;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    color: #609966;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
   
}

.btn-backtp:hover {
    background: #609966;
    color: #fff;
    transform: scale(1.08);
    box-shadow: 0 0 15px #93DA97;
}

.rule {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 100px 40%;
    background: url('body_bg.png');
    color: #2f4f39;
    text-align: center;
}

.menu .heading-rl {
    font-size: 40px;
    margin-bottom: 10px;
}

.menu .wrapper-rl {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px; 
    width: 100%;
    justify-items: center;
}

.wrapper-rl .box {
    padding: 100px 10px;
    background: #E8FFD7;
    border-radius: 10px;
    width: 100%;
    max-width: 250px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transition: .5s;
}

.wrapper-rl .box:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px, rgba(0, 0, 0, .2);
}

.box h2 {
    font-size: 20px;
}

.box p {
    font-size: 12px;
    margin: 10px 0 18px;
}

.box .btn-rl {
    display: inline-block;
    padding: 4px 10px;
    background: #2f4f39;
    border: 2px solid #2f4f39;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    transition: .5s;
}

.box .btn-rl:hover {
    background: transparent;
    color: #2f4f39;
}

.btn-backmcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.btn-backm {
   display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 45px;
  background: transparent;
  border: 2px solid #609966;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
  color: #609966;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-backm:hover {
  background: #609966;
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 0 10px #93DA97;
   
}

.btn-backm:hover {
    background: #609966;
    color: #fff;
    transform: scale(1.08);
    box-shadow: 0 0 15px #93DA97;
}

.maps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 100px 40%;
    background: url('body_bg.png');
    color: #2f4f39;
    text-align: center;
}

.menu .heading-mp {
    font-size: 40px;
    margin-bottom: 10px;
}

.menu .wrapper-mp {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px; 
    width: 100%;
    justify-items: center;
}

.wrapper-mp .box {
    padding: 100px 10px;
    background: #E8FFD7;
    border-radius: 10px;
    width: 100%;
    max-width: 250px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transition: .5s;
}

.wrapper-mp .box:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px, rgba(0, 0, 0, .2);
}

.box h2 {
    font-size: 20px;
}

.box p {
    font-size: 12px;
    margin: 10px 0 18px;
}

.box .btn-mp {
    display: inline-block;
    padding: 4px 10px;
    background: #2f4f39;
    border: 2px solid #2f4f39;
    border-radius: 6px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    transition: .5s;
}

.box .btn-mp:hover {
    background: transparent;
    color: #2f4f39;
}

.btn-backmp {
    position: relative;
    top: 30px;
    width: 100px;
    height: 40px;
    background: transparent;
    border: 2px solid #609966;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    color: #609966;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
   
}

.btn-backmp:hover {
    background: #609966;
    color: #fff;
    transform: scale(1.08);
    box-shadow: 0 0 15px #93DA97;
}